
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

#.env
###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> lexik/jwt-authentication-bundle ###
# /config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

.vagrant
.vault_pass
laravel-echo-server.json
*.retry
*.log
npm-debug.log
yarn-error.log
ansible/vars.yml